@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Pacifico&display=swap');
body {
    background-image: url(imagen-fondo.jpg);
    background-size: cover;
}
h1 {
    font-family: "Pacifico", serif;
    font-size: 50px;
    color: #d2691e;
    text-align: center;
}
h2 {
    font-family: "Caveat", serif;
    font-size: 30px;
    color: #00008b;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #008B8B;
}
p,li {
    font-family: Arial, Helvetica, sans-serif;
}
a:visited {
    color: grey;
}
a:hover {
    font-weight: bold;
    color: red;
}
a:active {
    color: green;
}
table {
    width: 33%;
    text-align: center;
    border: 2px solid brown;
    border-collapse: collapse;
    background-color: antiquewhite;
    margin: auto;
}
td {
    text-align: left;
    border: 2px solid brown;
}