@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Dancing+Script:wght@400..700&family=Orbitron:wght@400..900&family=Pacifico&family=Praise&display=swap');
body {
    background-image: url(images/EXPERTO-OFIMATICA-INN-Formacion.jpg);
    background-size: cover;
}
h1 {
    font-family: orbitron;
    font-size: 50px;
    color: rgb(80, 183, 218);
    text-align: center;
    text-shadow: 3px white;
}
h2 {
    font-family: orbitron;
    font-size: 30px;
    color: rgb(219, 246, 255);
    text-shadow: 3px white;
}
h3 {
    font-family: audiowide;
    font-size: 25px;
    color: lightcoral;
}
p,li,a {
    font-family: audiowide;
    color: white;
}
a:visited {
    color: grey;
}
a:hover {
    font-weight: bold;
    color: red;
}
a:active {
    color: green;
}
table {
    width: 33%;
    text-align: center;
    border: 2px solid darkcyan;
    border-collapse: collapse;
    background-color: lightblue;
    margin: auto;
}
td {
    text-align: left;
    border: 2px solid brown;
}